<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETA - Register</title>

    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="register-form">
            <div class="header">
                <header class="topic">Personal Expense Tracker</header>
                <br>
                <header>REGISTER</header>
            </div>
            <form action="{{ url_for('index') }}" method="post">
                <div class="inputField">
                    <label for="username">username</label>
                    <input type="text" name="username" required>
                </div>
                <div class="inputField">
                    <label for="email">email</label>
                    <input type="text" name="email" required>
                </div>
                <div class="inputField">
                    <label for="password">password</label>
                    <input type="text" name="password" required>
                </div>
                <div class="inputField btn">
                    <input type="submit" name="signup" value="SIGNUP">
                </div>
                <div class="login">
                    <p>Already have an account ? <a href="{{url_for('login')}}">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>