<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETA</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="main-container">
        <div class="name">
            <p class="topic">Personal Expense Tracker</p>
            <br>
            <p class="u-name">Welcome {{name}}</p>
        </div>
    <div class="tracker-container">
       
        <div class="make-transaction">
            <div class="total-balance">
                <p class="total-balance-title">Total Balance</p>
                <p class="total-balance-amount">${{totalBalance}}</p>
            </div>
            <div class="income-expense">
                <div class="income">
                    <p class="income-title income-expense-title">INCOME</p>
                    <p class="income-amount income-expense-amount">${{incomeBalance}}</p>
                </div>
                <div class="expense">
                    <p class="expense-title income-expense-title">EXPENSE</p>
                    <p class="expense-amount income-expense-amount">${{expenseBalance}}</p>
                </div>
            </div>
            <div class="add-transactions">
                <form action="{{url_for('add')}}" method="post">
                    <div class="add-transactions">
                        <header>ADD TRANSACTIONS</header>
                    </div>
                    <div class="inputField">
                        <input type="text" placeholder="Enter title" name="title" required>
                    </div>
                    <div class="inputField">
                        <input type="text" placeholder="Enter amount" name="amount" required>
                    <p class="pon">Enter income-positive, expense-negative</p>
                    </div>
                    <div class="inputField btn submit">
                        <input type="submit">
                    </div>
                </form>
            </div>
            <div class="btns">
                <div class="logout">
                <a href="{{url_for('logout')}}"><button>LOGOUT</button></a>
                </div>
                <div class="reset">
                    <a href="{{url_for('reset')}}"><button>RESET</button></a>
                </div>
            </div>
        </div>
        <div class="transaction-history">
            <div class="title">
                <p>Transaction History</p>
            </div>
            <div class="transaction-history-container">
                {%for i in l: %}
                 {%if i[2] > 0:%}
                 <div class="entery-history single-transaction-history"> 
                    <h3>{{i[1]}}</h3> 
                    <h4 class="entry-color">{{i[2]}}</h4>
                 </div> 
                 {%else:%}
                  <div class="exit-history single-transaction-history">
                     <h3>{{i[1]}}</h3>
                      <h4 class="exit-color">{{i[2]}}</h4> 
                    </div>
                     {% endif %} 
                     {%endfor%}
                
            
                <!-- <div class="entery-history single-transaction-history">
                    <h3>Food</h3>
                    <h4 class="entry-color">$100</h4>
                </div>
                <div class="exit-history single-transaction-history">
                    <h3>Food</h3>
                <h4 class="exit-color">-$100</h4>
                </div> -->
               
            </div>
        </div>
    </div>
   
    </div>
</body>
</html>